// global include
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// local include
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraboldItalic.eot');
	src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
		url('../fonts/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraboldItalic.woff') format('woff'),
		url('../fonts/Gilroy-ExtraboldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Light.woff2') format('woff2'),
		url('../fonts/Gilroy-Light.woff') format('woff'),
		url('../fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}