<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Page 2
	body
		//- mixins
		include ./../mixins/_mixin1.pug
		include ./../mixins/_mixin2.pug
		include ./../mixins/_mixin3.pug
		include ./../mixins/_mixin4.pug
		include ./../mixins/_mixin5.pug
		// ======================================== header
		include ./../sections/_header.pug
		// ======================================== sections
		include ./../sections/_section2.pug
		// ======================================== footer
		include ./../sections/_footer.pug
		// ======================================== scripts
		include ./../sections/_scripts.pug